<div id="footer">
  <div id="footer-v0">
    <div class="footer-container">
      <div class="ali-pages">
        <p id="copyright">&copy; 2014 Makatong.com</p>
        <ul>
	<li><a rel="nofollow" href="{$MODULE[1][linkurl]}">网站首页</a></li>
	<!--{tag("table=webpage&condition=item=1 and level=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}-->
	| <li><a href="{$MODULE[1][linkurl]}sitemap/">网站地图</a></li>
	<!--| <li><a href="{$EXT[spread_url]}" rel="nofollow">排名推广</a></li>-->
	{if $EXT[ad_enable]} | <li><a href="{$EXT[ad_url]}" rel="nofollow">广告服务</a></li>{/if}
	{if $EXT[gift_enable]} | <li><a href="{$EXT[gift_url]}">积分换礼</a></li>{/if}
	{if $EXT[guestbook_enable]} | <li><a href="{$EXT[guestbook_url]}">网站留言</a></li>{/if}
	{if $EXT[feed_enable]} | <li><a href="{$EXT[feed_url]}">RSS订阅</a></li>{/if}
	{if $DT[icpno]} | <li><a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">{$DT[icpno]}</a></li>{/if}
        </ul>
      </div>
      <div class="ali-group">
        <dl>
		<div id="copyright">{$DT[copyright]}</div>
		{if DT_DEBUG}<div class="px11">{debug()}</div>{/if}
		<div id="powered"><a href="http://www.destoon.com/" target="_blank">Powered by DESTOON</a></div>
        </dl>
      </div>
    </div>
  </div>
</div>                    </div>

<div id="back2top" class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
$('#back2top').click(function() {
	$("html, body").animate({scrollTop:0}, 200);
});
</script>
</html>
