<div id="footer">
  <div id="footer-v0">
    <div class="footer-container">
      <div class="ali-pages">
        <p id="copyright">&copy; 2010-2014 1688.com 版权所有</p>
        <ul>
          <li><a rel="nofollow" href="javascript:if(confirm('http://rule.1688.com/policy/copyright.html  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://rule.1688.com/policy/copyright.html'" >著作权与商标声明</a> |</li>
          <li><a rel="nofollow" href="javascript:if(confirm('http://rule.1688.com/policy/legal.html  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://rule.1688.com/policy/legal.html'" >法律声明</a> |</li>
          <li><a rel="nofollow" href="javascript:if(confirm('http://rule.1688.com/policy/terms.htm  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://rule.1688.com/policy/terms.htm'" >服务条款</a> |</li>
          <li><a rel="nofollow" href="javascript:if(confirm('http://rule.1688.com/policy/privacy.html  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://rule.1688.com/policy/privacy.html'" >隐私声明</a> |</li>
          <li><a rel="nofollow" href="javascript:if(confirm('http://page.1688.com/shtml/about/ali_group1.shtml  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://page.1688.com/shtml/about/ali_group1.shtml'" >关于阿里巴巴</a> |</li>
          <li><a rel="nofollow" href="javascript:if(confirm('http://114.1688.com/kf/contact.html?tracelog=kf_2012_budian_allcontact  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://114.1688.com/kf/contact.html?tracelog=kf_2012_budian_allcontact'" >联系我们</a> |</li>
          <li><a href="javascript:if(confirm('http://page.1688.com/system/sitemap.html  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://page.1688.com/system/sitemap.html'" >网站导航</a></li>
        </ul>
      </div>
      <div class="ali-group">
        <dl>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.alibabagroup.com/cn/global/home  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.alibabagroup.com/cn/global/home'" >阿里巴巴集团</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.alibaba.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.alibaba.com/'" >阿里巴巴国际站</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.1688.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.1688.com/'" >阿里巴巴中国站</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://mai.aliexpress.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://mai.aliexpress.com/'" >全球速卖通</a>
          |
          </dd>
          
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.taobao.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.taobao.com/'" >淘宝网</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.tmall.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.tmall.com/'" >天猫</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://ju.taobao.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://ju.taobao.com/'" >聚划算</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.etao.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.etao.com/'" >一淘</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.alimama.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.alimama.com/'" >阿里妈妈</a>
          |
          </dd>
          <dd>
          <a href="javascript:if(confirm('http://trip.taobao.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://trip.taobao.com/'" >淘宝旅行</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.xiami.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.xiami.com/'" >虾米</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.aliyun.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.aliyun.com/'" >阿里云计算</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.yunos.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.yunos.com/'" >YunOS</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.net.cn/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.net.cn/'" >万网</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('http://www.alipay.com/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.alipay.com/'" >支付宝</a>
          |
          </dd>
          <dd>
          <a rel="nofollow" href="javascript:if(confirm('https://www.laiwang.com/  \n\n该文件未被 Teleport Pro 下载，因为 是一个使用未支持协议的地址(例如: gopher)。  \n\n你想要从服务器打开它吗?'))window.location='https://www.laiwang.com/'" >来往</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>                    </div>

<script type="text/javascript" src="{DT_SKIN}/js/fi000003.js" ></script>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
$('#back2top').click(function() {
	$("html, body").animate({scrollTop:0}, 200);
});
</script>
<script type="text/javascript" src="{DT_SKIN}/js/--app-static-js-box-global-global.js,app-static-js-box-module-exposure-exposure-box.js-_v=3c3b05a066b08130eca53e58be426b96.js" ></script></body>
</html> 
