{php $TJS=array('home');}
{template 'home-header'}
<div id="box_doc" class="cell-page-main">
  <div class="cell-page-grids-main">
    <div class="cell-page-content crazy-box-enable-layout dcms-crazy-box-h1190">
      <!-- layout 通栏 -->
      <div style="margin-bottom:0" class="crazy-box-layout layout cell-layout layout-col">
        <div class="crazy-box-grid grid crazy-box-enable-row">
          <div class="crazy-box-row cell-row">
            <div class="crazy-box-box box-100 crazy-box-enable-module">
              <div class="crazy-box-module cell-module-1" data-spm="1997448441">
                <div class="floor-fz-first-screen floor-food-first-screen" id="floor-food-first-screen">
                  <div class="floor-content">
                    <div class="sub">
                      <div class="wrap">
                        <!--start-->
                        <div class="mod-category mod-category-sub2 " id="page-top-category">
                          <div class="header">
                            <h2 class="fd-hide">
                              类目
                            </h2>
                          </div>
                          <div class="content">
                            {template 'zone-cat','chip'}
                          </div>
                          <div class="footer">
                          </div>
                          <div class="line-float">
                          </div>
                          <div class="float-cat" id="float-cat-panel">
                          </div>
                        </div>
                        <!--end-->
                      </div>
                    </div>
                    <div class="main">
                      {template 'top-col','chip'}
                      <div class="bottom-col">
                        <!--{tag("moduleid=5&condition=level=1&pagesize=3&template=list-sell-pipe")}--> 
                      </div>
                    </div>
                    <div class="extra">
                      <div class="wrap">
                        <div class="mod-trends">
                          <div class="header">
                            <span class="year">
                              {date("Y")}
                            </span>
                            <span class="month">
                              {date("m")}
                            </span>
                            <span class="day">
                              {date("d")}
                            </span>
                          </div>
                          <div class="content">
			<div id="site_stats">
			<ul>
			<li>产品总数:<span>{php echo $db->count($DT_PRE.'sell_5', 'status=3', 1800);}</span></li>
			<li>企业总数:<span>{php echo $db->count($DT_PRE.'company', '1', 1800);}</span></li>
			</ul>
      </div>
                            <div class="ye-tradex">
                            </div>
                          </div>
                        </div>
                        <!-- baopin -->
                        <div class="mod-baopin">
          <div class="header text-center">
            <h4>加入QQ群</h4>
          </div>
          <div class="content">
                            <img src="{DT_SKIN}erweima.png" alt="玛卡通官方群二维码" class="qunerweima" />
                            </div>
                            {php //template 'slider-list','chip'}
                          </div>
                          <!--<a href="#" title="prev" class="arrow arrow-l">-->
                          <!--</a>-->
                          <!--<a href="#" title="next" class="arrow arrow-r">-->
                          <!--</a>-->

                        {template 'jidi','chip'}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{loop $sellcats $i $ct}
{if $ct[catname] != "其它"}
{template 'box-layout','chip'}
{/if}
{/loop}
{template 'links','chip'}
{template 'home-footer'}
