.fui-sidebar-v2{position:fixed;_position:absolute;right:.5%;bottom:50px;z-index:1999;}.fui-sidebar-v2 i{display:block;margin:8px 0 0 11px;width:22px;height:24px;background:url("1889919_1249217316.png"/*tpa=http://img.china.alibaba.com/cms/upload/2014/919/988/1889919_1249217316.png*/) no-repeat;cursor:pointer;}
.fui-sidebar-v2 .fui-bar-li{width:44px;height:43px;margin-top:-1px;-webkit-transform:translateZ(0);}
.fui-sidebar-v2 .fui-bar-a{display:block;text-decoration:none;overflow:hidden;width:42px;height:41px;border:1px solid #ebebeb;background-color:#fafafa;color:#888888;outline:0;cursor:pointer;}
.fui-sidebar-v2 .fui-bar-a:hover{text-decoration:none;color:#888888;}
.fui-sidebar-v2 .fui-gotop i{background-position:0 -604px;}
.fui-sidebar-v2 .fui-feedback i{background-position:-29px -604px;}
.fui-sidebar-v2 .fui-investigate i{background-position:-60px -608px;}
.fui-sidebar-v2 .fui-help i{background-position:-87px -607px;}
.fui-sidebar-v2 .fui-favorite i{background-position:-114px -608px;}
.fui-sidebar-v2 .fui-hover i{display:none;}
.fui-sidebar-v2 .fui-bg{display:none;width:28px;height:30px;margin:6px 0 0 9px;line-height:15px;letter-spacing:1px;}
.fui-sidebar-v2 .fui-hover .fui-bg{display:block;}
.fui-sidebar-v2 .fui-gotop{display:none;margin-bottom:10px;}
.fui-sidebar-v2 .fui-gotop .fui-bar-a{border-color:#fda702;background-color:#ffab00;}
.fui-sidebar-v2 .fui-gotop i{display:block;}
.fui-sidebar-v2 .fui-gotop .fui-bg{display:none;}
.fui-sidebar-v2 .fui-show{display:block;}
