{php $CSS = array('index');}
{template 'header'}
<div id="ipad_tips" style="display:none;"></div>
<div class="m">
		<div class="topl f_l">
			{if $DT[page_catalog]}
			<div class="icatalog_head"><div><span class="f_r c_p" onclick="Go('{DT_PATH}sitemap/{rewrite('index.php?mid=5')}');">展开全部</span><strong>行业分类</strong></div></div>
			<div class="icatalog_body">
				<div class="icatalog">
					{php $mid = 5;}
					{php $child = get_maincat(0, $mid, 1);}
					{loop $child $i $c}
					{if $i<120 && $c[child]}
					{php $sub = get_maincat($c[catid], $mid, 1);}
					<ul>
					<li><a href="{$MODULE[$mid][linkurl]}{$c[linkurl]}" target="_blank"><strong>{set_style($c[catname], $c[style])}</strong></a></li>
					{loop $sub $j $s}
					{if $j<4}<li><a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank">{set_style($s[catname], $s[style])}</a></li>{/if}
					{/loop}
					</ul>
					{/if}
					{/loop}
				</div>
			</div>
			{/if}
	</div>
	<div class="m_n f_l">&nbsp;</div>
	<div class="m_r_2 f_r">
    <div class="m_r_0 f_l">
      <div class="box_head">
        <a href="{$MODULE[5][linkurl]}">最新供应</a>
      </div>
				<div class="box_body li_dot">
					<div id="trade_c_2" class="itrade">
					<!--{tag("moduleid=5&condition=status=3 and thumb=''&areaid=$cityid&pagesize=".$DT['page_trade']."&datetype=2&target=_blank&order=addtime desc")}-->
					</div>
				</div>
    </div>
    <div class="m_r f_r">
		<div class="iuser"><a href="{$MODULE[2][linkurl]}{$DT[file_login]}" rel="nofollow" class="iuser_l" title="登录">登录</a><a href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow" class="iuser_r" title="注册">注册</a><a href="{$MODULE[2][linkurl]}{$DT[file_my]}" rel="nofollow" class="iuser_m" title="发布信息">发布信息</a></div>
		<div class="b10">&nbsp;</div>
		<div class="box_head">
			<div id="site_stats">
			<ul>
			<li>产品总数:<span>{php echo $db->count($DT_PRE.'sell_5', 'status=3', 1800);}</span></li>
			<li>企业总数:<span>{php echo $db->count($DT_PRE.'company', '1', 1800);}</span></li>
			<li>在线会员:<span>{php echo $db->count($DT_PRE.'online', '1', 1800);}</span></li>
			</ul>
			</div>
			<!--<a href="{$EXT[announce_url]}"><strong>网站动态</strong></a>-->
      <!--<a href="#"><strong>云南企业</strong></a>-->
			<a href="{$MODULE[4][linkurl]}"><strong>新近企业</strong></a>
		</div>
		<div class="box_body li_dot">
      <div >
      <!--{tag("moduleid=4&condition=groupid>5 and catids<>''&areaid=$cityid&pagesize=".$DT['page_com']."&order=userid desc&template=list-com")}-->
      </div>
		</div>

    </div>
    <div class="m b10">&nbsp;</div>
    <div class="m_r_2 f_l">
      <div class="box_head">
        <a href="{$MODULE[5][linkurl]}">最新产品</a>
      </div>
      <div class="box_body">
      <!--{tag("moduleid=5&length=18&condition=status=3  and thumb<>''&areaid=$cityid&pagesize=".$DT['page_sell']."&order=itemid desc&width=100&height=100&cols=4&group=username&target=_blank&template=thumb-table")}-->
      </div>
    </div>
	</div>
</div>
<div class="m b10">&nbsp;</div>

{if $DT[page_logo] || $DT[page_text]}
<div class="m">
	<div class="tab_head">
	<span class="f_r f_n px12"><a href="{$MODULE[3][linkurl]}shortcut.php" rel="nofollow" class="g">保存本站桌面快捷方式 &darr;</a>&nbsp;&nbsp;&nbsp;</span>
	<span class="f_r f_n px12">QQ 5826-5826&nbsp;&nbsp;&nbsp;</span>
	<ul>
		<li class="tab_2"><a href="{$EXT[link_url]}">友情链接</a></li>
		<li class="tab_1"><a href="{$EXT[link_url]}{rewrite('index.php?action=reg')}">申请链接</a></li>
	</ul>
	</div>
	<div class="box_body">
	{if $DT[page_logo]}
	<!--{tag("table=link&condition=status=3 and level>0 and thumb<>'' and username=''&areaid=$cityid&pagesize=".$DT['page_logo']."&order=listorder desc,itemid desc&lazy=$lazy&template=list-link&cols=9")}-->
	{/if}
	{if $DT[page_text]}
	<!--{tag("table=link&condition=status=3 and level>0 and thumb='' and username=''&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder desc,itemid desc&template=list-link&cols=9")}-->
	{/if}
	</div>
</div>
{/if}
<script type="text/javascript" src="{DT_STATIC}file/script/index.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/marquee.js"></script>
<script type="text/javascript">
new dmarquee(22, 10, 3000, 'site_stats');
new dmarquee(22, 30, 3000, 'company');
if(get_cookie('auth')) {
	$('.iuser_l')[0].title = '商务中心';
	$('.iuser_l')[0].href = '{$MODULE[2][linkurl]}';
	$('.iuser_l')[0].className = 'iuser_u';
	$('.iuser_r')[0].title = '完善我的会员资料';
	$('.iuser_r')[0].href = '{$MODULE[2][linkurl]}edit.php';
	$('.iuser_r')[0].className = 'iuser_e';
}
</script>
{template 'footer'}
