{php $CSS=array('market');}
{template 'header'}
<div class="m">
<div class="m_l_3 f_l">
	<div class="left_boxx">
		<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a>
		&raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a>
		{if $typeid!=99}&raquo; <a href="{$MOD[linkurl]}{rewrite('index.php?typeid='.$typeid)}">{$TYPE[$typeid]}</a>{/if}
		{if $catid}&raquo; {cat_pos($CAT, ' &raquo; ')}{/if}
		</div>
		<div class="category">
			<p><img src="{DT_SKIN}image/arrow.gif" width="17" height="12" alt=""/> <strong>按行业浏览</strong></p>
			<div>
			<table width="100%" cellpadding="3">
			{loop $maincat $k $v}
			{if $k%$MOD[page_subcat]==0}<tr>{/if}
			<td{if $v[catid]==$catid} class="f_b"{/if}><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>
			{if $k%$MOD[page_subcat]==($MOD[page_subcat]-1)}</tr>{/if}
			{/loop}
			</table>
			</div>
		</div>
		<div class="b10">&nbsp;</div>
		<form method="post">
		{if $page == 1}{ad($moduleid,0,'',6)}{/if}	<!--{tag("moduleid=$moduleid&condition=status=3$dtype&areaid=$cityid&catid=$catid&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&datetype=5&order=".$MOD[order]."&fields=".$MOD[fields]."&lazy=$lazy&template=list-xh")}-->
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
<div class="m_r_3 f_l">
</div>
</div>
{template 'footer'}
