{loop $tags $i $t}
<div class="pipeline{if $i == 0} pipeline-first{/if}">
  <div class="mod-com-silde">
    <div class="content">
      <div class="mod-wrap">
        <ul>
          <li class="f-tab-b">
          <dl class="cell-thumbnail">
            <dt class="side a-img">
            <img src="{imgurl($t[thumb])}" width="80" height="80" />
            </dt>
            <dd class="description ms-yh">
            <a href="#" title="{$t[title]}">{dsubstr($t[title],32)}</a>
            </dd>
            <dd class="txt">{$t[price]}/{$t[unit]}</dd>
            <dd class="txt">
            <span class="tag ">{$t[minamount]}{$t[unit]}起订</span>
            </dd>
          </dl>
          </li>
        </ul>
        <a href="#" target="_self" class="btn btn-prev">
        </a>
        <a href="#" target="_self" class="btn btn-next">
        </a>
        <div class="state">
        </div>
      </div>
    </div>
    <div class="footer">
      <ul>
        <li class="f-tab-t current ">
        {$t[company]}
        </li>
        <li class="f-tab-t ">
        <a href="" tppabs="http://tao.1688.com/offer/1226383503.html">
          明前六安瓜片
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{/loop}
