{php $a = array('1','2','3')}
{loop $a $i $k}
<div class="pipeline{if $i == 0} pipeline-first{/if}">
  <div class="mod-com-silde">
    <div class="content">
      <div class="mod-wrap">
        <ul>
          <li class="f-tab-b">
          <dl class="cell-thumbnail">
            <dt class="side">
            <a class="a-img" href="#"
              title="" style="background-image:url({DT_SKIN}css/1943384_1701987199.jpg)">
            </a>
            </dt>
            <dd class="description ms-yh">
            <a href="#" title="">极品玛卡干片</a>
            </dd>
            <dd class="txt">金奖品质</dd>
            <dd class="txt">
            <span class="tag ">包邮送精包装</span>
            </dd>
          </dl>
          </li>
        </ul>
        <a href="#" target="_self" class="btn btn-prev">
        </a>
        <a href="#" target="_self" class="btn btn-next">
        </a>
        <div class="state">
          <em class="idx">0</em>
          /
          <em class="len">0</em>
        </div>
      </div>
    </div>
    <div class="footer">
      <ul>
        <li class="f-tab-t current ">
        <a href="#">云南高原特产</a>
        </li>
        <li class="f-tab-t ">
        <a href="" tppabs="http://tao.1688.com/offer/1226383503.html">
          明前六安瓜片
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{/loop}
