<div class="crazy-box-layout layout cell-layout-64 layout-col" style="margin-bottom:0">
  <div class="crazy-box-grid grid crazy-box-enable-row">
    <div class="crazy-box-row cell-row-65">
      <div class="crazy-box-box box-100 crazy-box-enable-module">
        <div class="crazy-box-module cell-module-69" data-spm="1997448457">
          <div class="mod-food-common-floor">
            <div class="app-headerx">
            </div>
            <div class="app-contentx fd-clr">
              <div class="app-news app-news-first fd-clr">
                <div class="header">
                <a href="/news/">新闻</a>
                </div>
                <div class="content fd-clr">
        <!--{tag("moduleid=21&len=40&order=itemid desc&condition=status=3&level=1&target=_blank&pagesize=".$DT['page_rank'])}-->
                </div>
              </div>
              <div class="app-news fd-clr">
                <div class="header">
                <a href="/zhishi/">知识</a>
                </div>
                <div class="content fd-clr">
        <!--{tag("moduleid=24&len=40&order=itemid desc&condition=status=3&level=1&target=_blank&pagesize=".$DT['page_rank'])}-->
                </div>
              </div>
              <div class="app-news fd-clr">
                <div class="header">
                <a href="/zhongzhi/zhongzhijishu/">种植技术</a>
                </div>
                <div class="content fd-clr">
        <!--{tag("moduleid=23&catid=16&len=40&order=itemid desc&condition=status=3&level=1&target=_blank&pagesize=".$DT['page_rank'])}-->
                </div>
              </div>
              <div class="app-news fd-clr">
                <div class="header">
                <a href="/zhongzhi/makajidi/">种植基地</a>
                </div>
                <div class="content fd-clr">
        <!--{tag("moduleid=23&catid=17&len=40&order=itemid desc&condition=status=3&level=1&target=_blank&pagesize=".$DT['page_rank'])}-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
