<div class="crazy-box-layout layout cell-layout-64 layout-col" style="margin-bottom:0">
  <div class="crazy-box-grid grid crazy-box-enable-row">
    <div class="crazy-box-row cell-row-65">
      <div class="crazy-box-box box-100 crazy-box-enable-module">
        <div class="crazy-box-module cell-module-69" data-spm="1997448457">
          <div class="mod-food-common-floor">
            <div class="app-header">
              <h2 class="ms-yh">
                <span class="act-float-title" data-title="{$ct[catname]}">
                  {$ct[catname]}
                </span>
                ·
                <a href="{$MODULE[$mid][linkurl]}{$ct[linkurl]}" rel="nofollow">进入<span class="san"></span></a>
              </h2>
            </div>
            <div class="app-content fd-clr  newextra ">
              <div class="sub tab">
                <ul class="img-list">
                  <li class="f-tab-b">
                    <a href="{$MODULE[$mid][linkurl]}{$ct[linkurl]}" rel="nofollow">
                      <img  src="{DT_SKIN}css/1943980_667054274.jpg" width="190" height="328" alt="{$ct[catname]}">
                    </a>
                  </li>
                </ul>
                <ul class="list hover-list">
                </ul>
              </div>
              <div class="main fd-clr">
                <div class="header">
                </div>
                <div class="content fd-clr">
      <!--{tag("moduleid=5&catid=".$ct[catid]."&condition=status=3&pagesize=".$DT['page_sell']."&order=itemid desc&width=150&height=150&cols=5&target=_blank&template=thumb-front&length=28&lazy=$lazy")}-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
