<div class="crazy-box-layout layout cell-layout-64 layout-col" style="margin-bottom:0">
  <div class="crazy-box-grid grid crazy-box-enable-row">
    <div class="crazy-box-row cell-row-65">
      <div class="crazy-box-box box-100 crazy-box-enable-module">
        <div class="crazy-box-module cell-module-69" data-spm="1997448457">
          <div class="mod-food-common-floor">
            <div class="app-header">
              <h2 class="ms-yh">
                <span class="act-float-title">
                  关于玛卡通
                </span>
              </h2>
            </div>
            <div class="fd-clr">
              <div class="bottom-description">
                {$DT[seo_description]}
                <h3>最近更新</h3>
<?php
include DT_ROOT."/module/article/article.class.php";
$article = new article(21);
$result = $article->get_blogs();
?>
{if $result}
{loop $result $i $item}
<div class="h-entry">
  <h4><a target="_blank" href="/news/{$item[linkurl]}">{$item[title]}</a></h4>
  <div class="content">
    {$item[description]}
    <a class="readmore" target="_blank" rel="nofollow" href="/news/{$item[linkurl]}">阅读全文</a>
    </div>
  </div>
{/loop}
{/if}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
