<div class="mod-sells" data-category-id="2">
  <div class="header header-top">
    <a href="">最新供应</a>
  </div>
  <div class="content">
      <!--{tag("moduleid=5&condition=status=3&pagesize=5&order=itemid desc&target=_blank&length=34")}-->
  </div>
  <div class="header">
    <a href="">最新问答</a>
  </div>
  <div class="content">
      <!--{tag("moduleid=10&condition=status=3&pagesize=5&order=itemid desc&target=_blank&length=34")}-->
  </div>
  <div class="header">
    <a href="">最新资料</a>
  </div>
  <div class="content">
      <!--{tag("moduleid=15&condition=status=3&pagesize=5&order=itemid desc&target=_blank&length=34")}-->
  </div>
</div>
