<div class="top-col">
  <div class="mod-mainpromo" id="mod-mainpromo">
    <div class="content">
      <ol class="switchable-content">
        <li class="f-tab-b current">
        <a href="#">
          <img src="{DT_SKIN}css/1933984_1701987199.jpg" width="760" height="340" alt="" />
        </a>
        </li>
        <li class="f-tab-b">
        <a href="#">
          <img src="{DT_SKIN}css/1930889_667054274.jpg" width="760" height="340" alt="" />
        </a>
        </li>
      </ol>
      <ol class="switchable-trigger fd-clr">
        <li class="f-tab-t current">1</li>
        <li class="f-tab-t">2</li>
      </ol>
    </div>
  </div>
</div>
