<div class="mod-zhishu mod-diy" data-category-id="2">
  <div class="header">
    <ul class="fd-clr">
      <li class="f-tab-t first current" data-type="sales">
      <a href="" tppabs="http://index.1688.com/alizs/market.htm?cat=2">
        指数
      </a>
      </li>
      <li class="f-tab-t" data-type="price">
      <a href="" tppabs="http://index.1688.com/alizs/market.htm?cat=2">
        采购指数
      </a>
      </li>
      <li class="f-tab-t" data-type="supply">
      <a href="" tppabs="http://index.1688.com/alizs/market.htm?cat=2">
        供应指数
      </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <ul>
      <li class="f-tab-b f-tab-sales">
      <div class="flash-sales">
      </div>
      </li>
      <li class="f-tab-b f-tab-price">
      <div class="flash-price">
      </div>
      </li>
      <li class="f-tab-b f-tab-supply">
      <div class="flash-supply">
      </div>
      </li>
    </ul>
  </div>
</div>
